* {
    margin: 0;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300, 400, 500, 700, 900;

}

:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --select-bg: rgba(255, 255, 255, 0.2);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 1440px;
    width: 100%;
    margin: auto;
  }


  .nav-container {
    display: grid;
    grid-template-columns: 400px 2fr 130px;
    grid-template-rows: auto;


}


.primary-nav {
    grid-column: 1 / 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding: 16px;


}


svg {
    width: 16px;
    height: auto;
    flex-shrink: 0;
    fill: #3A3D46;
}

  .sub-nav {
      grid-column: 2 / 3;
      grid-row: 1;
      align-self: center;


  }

  .sub-nav a {
      text-decoration: none;
      margin-right: 24px;
      font-size: 1em;
      font-weight: 500;
  }

  .sub-nav a:hover {
      text-decoration: underline;
  }


  .ico-nav {
      grid-column: 3 / -1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;

  }

  .logo-short {
    display: none;
  }

  .logo-long {
      width: 325px;
      height: 18px;
      margin-left: 12px;
  }